[2016-03-04 11:22] domcleal opened #5 "Test suite required"
A test suite is required to help us prevent regressions, something that can easily be enabled with Travis CI on this repository.

As to frameworks, [bats](https://github.com/sstephenson/bats#readme) would be quite an easy way to write tests in the same language as the project.  It can be installed easily on Travis CI, and we just create a directory of .bats files containing individual tests to tes

[2016-03-04 11:23] domcleal opened #6 "Publish Debian package archive"
A new archive of packages should be provided for upcoming releases.

[2016-03-04 11:36] mattock commented on #5
@domcleal :+1: I have never used bats, but it looks straightforward enough.

[2016-03-04 11:41] mattock commented on #6
As discussed in PR https://github.com/freight-team/freight/pull/3 I can take care of this.

[2016-03-04 12:00] mmoll opened #7 "IRC channel?"
Would there be interest in a #freight IRC channel on Freenode or something similar for realtime communication?

[2016-03-04 12:07] domcleal commented on #7
Sure!

[2016-03-04 12:33] mattock commented on #7
:+1:

[2016-03-04 20:02] domcleal opened #8 "Multiple GPG support uses bashisms"
The multiple GPG key support I added in #2 uses bashisms, which breaks under dash:

    bin/freight-init: 20: bin/freight-init: Syntax error: "(" unexpected

I hadn't realised freight was using /bin/sh explicitly.  There are some small tweaks possible to the option parsing to make all of freight run properly under regular bash, or I can rewrite the changes in a more POSIX compatible style if prefe

[2016-03-04 20:04] domcleal commented on #8
Looks like freight-cache already does use /bin/bash, so that makes it an easier choice I think.  I can change freight-init and add to match.

[2016-03-07 13:43] #5 closed

[2016-03-07 13:46] #8 closed

[2016-03-07 14:21] #7 closed

[2016-03-09 15:44] mattock commented on #6
Fixed. Usage instructions for the new repository are in [README.md](https://github.com/freight-team/freight/blob/master/README.md). Version number of freight has been bumped to 0.3.6-2 to allow easy upgrades from rcrowley's 0.3.5.

[2016-03-09 15:44] #6 closed

[2016-03-24 00:43] gizmoguy opened #23 "Adding a source package to a repo before a binary package results in error"
Steps to repro:

1) Add a source package to a brand new (and empty) repo
[code]

2) Run freight-cache
[code]

If you add a binary package after this and run freight-cache everything works fine. I'm not sure if a source-only repo is a realistic possibility, but perhaps a better error message might be better.

[2016-03-24 09:24] domcleal opened #24 ".orig.tar.xz source tarballs not added to the cache pool"
When adding a .orig.tar.xz source tarball, it doesn't get copied into the pool:

[code]

It does get added to var/lib/ correctly, but only .orig.tar.gz files are copied to the pool itself.

This seems to stem from https://github.com/freight-team/freight/blob/v0.3.6/lib/freight/apt.sh#L355, and is linked to PR #4.

[2016-03-24 10:23] #23 closed

[2016-03-25 16:35] domcleal commented on #24
There's an interesting set of sample files and list of characteristics on the 3.0 source format wiki page which I think Freight fails to support too - particularly multiple orig tarballs.

https://wiki.debian.org/Projects/DebSrc3.0#Validation_of_all_tools_with_new_source_formats

[2016-03-29 15:22] domcleal opened #28 "freight-cache without TTY raises "gpg: invalid option "-abs --no-tty" error"
When running freight-cache without a TTY (e.g. over SSH) since 0.3.7, the GPG signing step fails with:

    gpg: invalid option "-abs --no-tty"

c112399 changed the GPG options passed in to be quoted such that `-abs` and `--no-tty` are a single argument.

[2016-03-30 07:12] #28 closed

[2016-04-19 09:30] sjoerdmullender commented on #24
Not just *.orig.tar.xz files aren't added, also *.tar.xz files aren't added.
I think the whole logic in apt_cache_source needs to be reworked.

[2016-04-19 10:32] mhaberler opened #31 "unclear if freight is safe against parallel invocation"
assume freight-cache is run concurrently - will things go haywire?

btw thanks for working on this - really worth it and very much appreciated!

[2016-04-19 10:41] domcleal commented on #31
It's intended to be safe to run concurrently, as far as I know - we've always run it concurrently on theforeman.org, and it's not gone wrong yet to my knowledge.  It takes quite a bit of care to build all metadata into a temp directory and then flip symlinks.

[2016-04-19 10:47] mhaberler commented on #31
thanks a lot - makes my job easier ;)

[2016-04-19 12:09] sjoerdmullender commented on #24
Here's a patch that looks to find the correct extention for the orig.tar, tar, and diff files.
It also fixes the use of $VERSION.  The old code had ${VERSION%*:} which will remove the complete contents of $VERSION if it ends with a color, or do nothing otherwise.  Instead the patched code uses ${VERSION##*:} which removes everything up to and including the last colon.

[freight.txt](https://github

[2016-04-19 12:11] sjoerdmullender commented on #24
There are two asterisks missing in my last comment (they turn the inbetween text to italic).  They should be in the patch, though.

[2016-04-19 13:04] mmoll commented on #24
@sjoerdmullender could you open a pull request with this? Bonus points for adding tests for the fixed functionality. :)

[2016-05-26 17:19] Yrrsinn opened #33 "freight does not generate Contents File"
For main component of wheezy distribution for amd64 architecture, this file would normally be located at

`/dists/wheezy/main/Contents-amd64.gz`

["Contents" indices](https://wiki.debian.org/RepositoryFormat#A.22Contents.22_indices) files are needed for example by the [apt-file tool](https://wiki.debian.org/apt-file), it would be really nice to be able to use this tool with an repository created b

[2016-05-30 08:13] mattock commented on #33
:+1: for the idea. How would we create such content indices automatically? Can you provide a PR?

[2016-05-30 14:09] Yrrsinn commented on #33
Yes, this issues serves more or less as a reminder for me (I need the feature). Unfortunately I cannot work at once on this.

[2016-06-22 18:12] josegonzalez commented on #31
This can probably be closed :)

[2016-06-22 20:22] mmoll commented on #31
:smile:

[2016-06-22 20:22] #31 closed

[2016-08-03 13:40] Thulium-Drake opened #36 "Other managers (yum in particular)"
HI guys,

Is there any documentation about what is required to generate repositories for other package mangers like yum?

Or does someone already have a script somewhere that can do this?

Thanks!

[2016-09-13 11:07] ppoilbarbe opened #37 "freight-add: raising an error when adding an already existing file"
We have automatic tools to add and check repository managed by freight.
It would be nice to create (if wanted) an error (exit code not 0) when adding a file in repository (freight-add) which has already been added.

We already do this by checking the file and if it does not exist send an error to the asking user, but it is not atomic like the ln command in freight-add command.

Attached is a patch

[2016-09-13 11:16] ppoilbarbe commented on #37
The patch was an old version (setting the env var empty will not authorise controlling the behaviour from outside the command).

[freight-error-add.patch](https://github.com/freight-team/freight/files/469628/freight-error-add.patch.txt)

[2016-09-13 11:26] ppoilbarbe commented on #37
This was an old version of the patch if _FREIGHT_ADD_ERROR_ is set empty in script it cannot be controlled outside the command.

[freight-error-add.patch](https://github.com/freight-team/freight/files/469645/freight-error-add.patch.txt)

[2016-09-13 11:29] domcleal commented on #37
Could you open a pull request with the suggested patch please? it's hard to review from an attachment. https://help.github.com/articles/proposing-changes-to-a-project-with-pull-requests/ has more info.

[2016-09-13 11:29] ppoilbarbe commented on #37
Ok. I'll see how to do this.

[2016-10-01 19:08] #37 closed

[2016-11-01 19:54] mmoll opened #40 "Reword manpage after #32"
I don't think it's making sense to list each and every extension anyway.

[2016-11-08 07:34] brother opened #42 "Minor suggestion from shellcheck linting of freight-init"
https://github.com/freight-team/freight/blob/master/bin/freight-init#L72 reads

`[ -z "$GPG" -o -z "$DIRNAME" ] && usage 1`

This should be changed to

`[ -z "$GPG" ] || [ -z "$DIRNAME" ] && usage 1`

Example

[code]

Used the online tool at http://shellcheck.net to do the linting of this file.

[2016-11-08 07:42] brother opened #43 "Minor suggestion from shellcheck linting of freight-cache"
https://github.com/freight-team/freight/blob/master/bin/freight-cache#L70 reads

`[ -z "$GPG_PASSPHRASE_FILE" -o -r "$GPG_PASSPHRASE_FILE" ] || echo "# [freight] could not read passphrase file: $GPG_PASSPHRASE_FILE." >&2`

This is reported as ambigious and should be changed to use the form [ something ] || [ something ] for better consistency. Like so:

`[ -z "$GPG_PASSPHRASE_FILE" ] || [ -r "$GPG

[2016-11-22 08:43] ryaner opened #44 "Second install fails due to existing gzip files"
`# make install
find bin -type f -printf %P\\0 | xargs -0r -I__ install -D bin/__ /usr/local/bin/__
find lib -type f -printf %P\\0 | xargs -0r -I__ install -m644 -D lib/__ /usr/local/lib/__
find man -type f -name \*.[12345678] -printf %P\\0 | xargs -0r -I__ install -m644 -D man/__ /usr/local/share/man/__
find man -type f -name \*.[12345678] -printf %P\\0 | xargs -0r -I__ gzip /usr/local/share/man/

[2016-11-22 09:19] #44 closed

[2016-12-02 13:50] ziirish opened #46 "gpg2 incompatibilities"
Hi,

I'm currently facing an issue while trying to sign a repository on Debian Stretch.
The error looks like:

[code]

I suppose the problematic code lies in lib/freight/apt.sh:233

[code]

`gpg --version` returns `gpg (GnuPG) 2.1.16` and indeed, the doc says:

[source](https://www.gnupg.org/faq/whats-new-in-2.1.html)

And indeed, running some tests show there is no more `pubring.gpg` file:

[code

[2016-12-22 08:42] domcleal commented on #24
Re-opening as it was reverted in 8668a82 due to issues noted at https://github.com/freight-team/freight/pull/32#issuecomment-258967364.

[2017-01-15 13:05] mmoll commented on #46
@ziirish could you please test if #47 fixes this problem for you?

[2017-01-15 13:10] mmoll commented on #42
Also applies to #43: I do use a newer shellcheck version on my workstation, but for the automatic tests only the version provided in Ubuntu/trusty is available. Unless there's a simple method to bring in a newer shellcheck into the tests, it's IMHO not needed to fix everything if there are no real problems seen application-wise. But please feel free to pull request your changes!

[2017-02-13 16:07] MPursche commented on #46
Hello,

I had the same problem on Ubuntu 16.04. The fix in pull request #47 solved the problem for me.

[2017-02-13 21:08] #46 closed

[2017-02-13 21:09] mmoll commented on #46
@MPursche thanks for letting us know!

[2017-02-15 17:55] narcisgarcia opened #49 "Batch unlock GPG"
Is there some way to automatically answer the "You need a passphrase to unlock the secret key for user" prompt?

[2017-02-15 18:23] mmoll commented on #49
have a look at gpg-agent for this.

[2017-02-15 18:43] narcisgarcia commented on #49
Oh, I've found not the -p option for freight-cache
Thanks anyway.

[2017-02-15 18:43] #49 closed

[2017-02-16 07:51] narcisgarcia opened #50 "Let use keyring.gpg or pubkey.gpg ?"
At  README.md is documented to register Freight project's repository using repo-public.gpg , but it's indicated to people register new made repositories using keyring.gpg
Why the difference?

Can this be better for usage indication?
`wget -O - http://example.com/pubkey.gpg | sudo apt-key add -`

[2017-02-16 10:02] mmoll commented on #50
@mattock could you have a look here? Although I think this needs no "fixing", as that documentation is about freight's repo, which is hosted by OpenVPN, where things might be different in general.

[2017-03-03 19:44] gvengel opened #51 "rcrowley/freight -> freight-team/freight"
Have you guys talked to @rcrowley about officially taking over the project? There are no pointers to freight-team from rcrowley, and all the Google results for freight point to his now inactive repository. I had to find this fork by tracing back @domcleal's commits in the Fedora package to his blog.

[2017-03-03 19:53] mmoll commented on #51
There was no response ever in https://github.com/rcrowley/freight/issues/70 or in PRs over there, so I guess there's nothing we can so...

[2017-03-03 19:53] #51 closed

[2017-04-02 16:50] narcisgarcia opened #53 "How to replace a cache package file with same name"
I have pushed this package to a Debian archive:
sltd_1.1.6_all.deb
I've fixed some detail to package scripts (preinst, postinst,...) and packed again with dpkg-buildpackage, but freight-add and freight-cache commands don't update library/cache because they say that sltd_1.1.6_all.deb already exist.

How can I replace a .deb file that has same name?

[2017-04-06 07:58] roelvanmeer commented on #53
There might be a better way, but this is the method I use:

- Remove the package from the lib dir
- Remove the package from the pool (important!)
- Update the freight cache

Then add the package as you normally would.

[2017-04-06 08:44] mmoll commented on #53
I'm also using the @roelvanmeer method and think it would the normal Debian way to increment the package version (and also start with -1, e.g.  1.1.6-1).

[2017-04-06 08:46] narcisgarcia commented on #53
I'll try @roelvanmeer method. The needing begun when I was debugging preinst/postinst/prerm/postrm files and needed to re-package, publish and install more than 50 times.

[2017-04-12 10:02] KlavsKlavsen opened #54 "Feature request: rpm support"
It would be cool if freight add - also handled rpm repo's - and gpg signing of rpms.
It would need to "know to fail" - if one tried to add an rpm to a debian repo..

Either you could simply add a setting to a conf file (which is per repo) - simply had VARCACHE and VARLIB setting for rpm.. or if freight was made to prefix with type.. so you could set a config setting:
HANDLEYUM=true|false
HANDLEAPT

[2017-04-12 11:57] KlavsKlavsen opened #55 "Feature request: Keeping only X versions of a package"
We use freight for software repos - where we build ourself - and hence we get a lot of new versions.. and currently freight has no support for even removing packages from repo.. so we have manually remove files and run freight cache..

It would be nice if freight handled freight-remove - and a bonus if freight could be configured to only keep max X instances of a certain package.

[2017-04-18 14:29] emillynge commented on #53
I need the ability to replace a deb file with incremented version in control file, but with the same name.
e.g. mypackage-1.0.deb with a control file where the actual version is 1.0-2.

How much work would be needed to implement a --force flag in the `freight-add` command? such that any package with the same file name gets purged such that the package can be added? I may be able to throw some time

[2017-04-19 08:15] emillynge opened #56 "Working directory not being cleaned after freight add when linking fails"
I use freight to add new packages from the docker repos every hour.
The newest deb is downloaded, and added to freight and the downloaded file is then cleaned up.

but it seems like freight is not cleaning up the freight.$$.XXXXX working directory when the hard linking fails:
[code]
This problem however, only occurs when freight-add is called useing a subprocess in a python script.

It seems the t

[2017-04-28 07:53] mattock commented on #54
How about using [FPM](https://github.com/jordansissel/fpm) for producing the RPMs? We have used that to generate the official Debian packages, see the [build target](https://github.com/freight-team/freight/blob/master/Makefile#L54-L63) in the Makefile.

[2017-04-28 07:57] mattock opened #58 "Releasing freight 0.3.11?"
@mmoll , @domcleal : what about releasing freight 0.3.11 soon? If we merge PR
https://github.com/freight-team/freight/pull/57 then 0.3.11 would include these changes:
[code]

[2017-04-28 08:06] domcleal commented on #58
Sure!

[2017-04-28 08:10] domcleal commented on #54
@mattock this is more about building Yum repositories containing RPMs, rather than building Freight as an RPM. (I publish RPMs for Freight itself via Fedora's EPEL project.) To build repos, you'd use the Python [createrepo](http://createrepo.baseurl.org/) tool.

i agree that FPM ought to be able to support Yum and other types of repo, and it the command line does appear to have been designed with

[2017-04-28 09:39] KlavsKlavsen commented on #54
Currently I just extended my freight-add script - so it (when its an rpm) - simply copies the rpm into $reponame/yum/... and runs rpmsign --addsign and create repo on the repo. freight should probably just do the same - and then sign the yum repo as well.

[2017-04-28 12:25] mmoll commented on #58
@mattock I just merged #57 and bumped the version to 0.3.11, go for it! :shipit:

[2017-05-18 15:22] mattock commented on #58
Ok, finally 0.3.11 is in our apt repository - sorry it took so long. Feel free to bug me as much as you need in the future :smile:.

I just issued PR https://github.com/freight-team/freight/pull/59 which is related to the release.

[2017-05-18 16:00] mmoll commented on #58
#59 got merged and the release got tagged

[2017-05-18 16:00] #58 closed

[2017-05-24 16:15] joshk0 opened #60 "CACHE and LIB dirs need to be absolute"
All the freight scripts assume that CACHE and LIB are absolute paths.

It should either bail if the paths are not absolute, or use readlink -f to turn them absolute before using them.

Without this, I get a ton of weird errors from freight-add and freight-cache.

[2017-06-10 15:49] narcisgarcia opened #61 "2 words architecture?"
This seems some kind of error with the architecture name parsing.

[2017-06-10 16:28] narcisgarcia commented on #61
Sorry; my fault.
I didn't set the proper architectures to ARCHS configuration.

[2017-06-10 16:28] #61 closed

[2017-06-16 15:20] narcisgarcia opened #62 "When freight-clear-cache is necessary?"
I've created a script to update a public repositories/archives with many .deb packages, but it works increasingly slow with each new package.
My actions for each package file are:
freight-add
freight-clear-cache
freight-cache

but I suspect not each time freight-clear-cache and freight-cache are necessary.

[2017-07-20 12:16] mmoll opened #65 "use dpkg-scanpackages"
suggestion from https://github.com/rcrowley/freight/issues/53

[2017-07-21 22:54] thehesiod opened #66 "[enhancement] list packages support"
I'd really like to be able to switch to freight to support multiple versions however two features are missing (removal of package...there's an existing issue for this), and listing of packages.

In reprepro world I do a `reprepro -b CACHE_FOLDER list DISTRIBUTION` to list all the packages and then present this via the web server.

can something like that be supported?

[2017-07-26 14:53] mattock opened #67 "Apt repository key expires soon (4th August 2017)"
Freight itself is available in freight-team's apt repository. The apt signing key will, however, expire 4th August 2017, which will trigger complaints from apt when people try to use our repository.

[2017-07-26 14:56] mattock commented on #67
The previous GPG key used to sign our Debian and Ubuntu packages was bound to expire on 4th August. I extended the lifetime of the key by three years (26th July 2020).

To prevent apt from complaining after 4th August please do this:

[code]

[2017-07-26 14:56] #67 closed

[2017-08-01 16:41] debaillie opened #68 "Bad Installation Instructions"
When attempting to install frieght on a fresh 16.04 Ubuntu server, the instructions are not functional.

[code]
yields the following results
[code]

Additionally if I checkout the v0.3.5 tag from git and use these instructions:
[code]
yields
[code]
and there are no binaries available, bash completion file, etc.

[2017-08-01 16:45] debaillie commented on #68
Additionally it looks like the git commands in the readme still reference 'rcrowley/freight' instead of 'freight-team/freight'

[2017-08-01 16:47] debaillie commented on #68
dpkg-buildpackage works with v0.3.11

[2017-08-02 18:51] mattock commented on #68
@debaillie : we would love to update the README in rcrowley/freight, but we don't have access to it and rcrowley is not responding to our requests.

[2017-08-12 19:35] laurvas commented on #55
I am not a freight developer, but I've read it's source code. The main problem here is to compare package versions. You can do it simply on Debian host by running `dpkg --compare-versions`, but there are no existing tools on other systems to do that.

Freight is designed to be portable and it can't rely on debian-only utils, so it should have it's own implementation of [Debian version comparison a

[2017-08-17 11:59] ApproximateIdentity opened #69 "[enhancement] Ability to remove packages?"
I needed to remove a package and so I followed the steps here:

https://oitibs.com/remove-package-from-freight/

Those worked fine, but I wonder is there any interest in this being a supported option? Possibly supporting this is more complicated than I naively imagine?

[2017-08-23 11:26] #42 closed

[2017-08-23 11:26] #43 closed

[2017-08-23 11:33] mmoll commented on #50
I think this is fine as-is.

[2017-08-23 11:33] #50 closed

[2017-08-23 12:37] brother commented on #42
You could fetch the shellcheck docker image and use that for execution ofc =)

[2017-09-04 10:04] VeenaSL opened #71 "freight-add ignores multiverse, universe options and adds the package in main only"
While adding a package, even if apt/xenial/multiverse or universe is specified, the package is added in main itself. As per freight-add doc, main is default for apt but it should also support other options.

[2017-09-05 12:06] mattock opened #72 "GPG signing fails with GnuPG 2.x"
Running freight-cache fails on Debian 9 which comes with GnuPG 2.1.18 installed:
[code]
When I run the same with "set -x" in _/usr/bin/freight-cache_  the offending command-line is conveniently shown:
[code]
The problem seems to be that GnuPG 2.x by default requires gpg-agent and expects the user to enter the password via some pinentry mechanims (e.g. pinentry-curses, pinentry-gnome3). A fix / wor

[2017-09-05 12:21] mmoll commented on #72
could you run `export GPG_TTY=$(tty)` and test again in that shell env?

[2017-09-05 12:29] mattock commented on #72
Indeed, that does the trick:
[code]
...and the pinentry screen pops up.

[2017-09-06 11:47] mattock commented on #72
@mmoll : I guess this is something we should document, then. Shall I provide a documentation PR?

[2017-09-06 16:22] mmoll commented on #72
Yes, please. At least if there's no possibility to handle this automatically (I didn't dig deeper on that).

[2017-09-08 09:03] VeenaSL commented on #71
It works as expected, my mistake that I was trying with freight cloned from rcrowley's repo. Closing the issue

[2017-09-08 09:03] #71 closed

[2017-10-26 16:08] #72 closed

[2018-03-19 01:16] adamar opened #77 "Upgraded Apt requests the InRelease file"
Hi,

A new version of Apt appears to be looking for the InRelease file in the freight repo.

[code]

I've created a basic [example PR](https://github.com/freight-team/freight/pull/76) as a guide for what I _believe_ the PGP command should be.

[2018-03-19 13:52] mmoll commented on #77
@adamar which APT version are you referring to? I'm using 1.6~beta1 and don't see such messages with my frieght generated repository...

[2018-03-30 08:18] miroR commented on #24
I think I stumbled upon this issue too. It definitely is here an issue with apt.sh (/usr/lib/freight/apt.sh in my install).
I prepared a page where I explained it:
Freight fails to build orig.tar.bz2 sources
https://www.croatiafidelis.hr/foss/cap/cap-180329-freight-source-bug/
If necessary, I can try and give a summary here, but do tell, and do allow some time then.

[2018-03-30 19:28] mmoll commented on #24
@miroR see #32

[2018-04-04 09:29] miroR commented on #77
Just a digression it it is allowed, and since I posted about this exact non-created at this time by Freight InRelease. That repo I was only able to put together to successfully serve both binarh-amd64 and sources after I:
- created separately the binary package by freight add'ing it
- cp'ing that freight repo manually for later manipulation
- starting anew to freight add the sources
- mixing, with

[2018-04-04 09:35] miroR commented on #77
Since email notifications do not convey it, I've clarified the text of my last two posts [will delete this message, not needed on github.com].

[2018-04-04 09:51] miroR commented on #77
My first today's post was all correct, but the missing non-created by Freight InRelease of my dev1miro repo is better visible in (after more fiddling with it) the log after that one posted:
`Hit:9 tor+https://pkgmaster.devuan.org/merged ceres InRelease
Hit:10 tor+https://pkgmaster.devuan.org/devuan sid InRelease
[...]
Hit:18 tor+https://pkgmaster.devuan.org/merged jessie InRelease
Hit:19 tor+https

[2018-04-04 09:56] miroR commented on #77
Sorry about the mess. Untill I inserted newlines, the string InRelease, present in the first post (so first post was all correct completely all the time) evaded the focus of my eyeballs, and now I duplicated the information... But at least it's clearer now...

[2018-04-05 00:41] mmoll commented on #77
@adamar @miroR could you please test GH-79?

[2018-04-05 00:42] #65 closed

[2018-04-05 07:42] miroR commented on #77
I sure will! And with a real project, where I seem to be getting approval for work:
A Pale Moon repo for Devuan/Debian
https://forum.palemoon.org/viewtopic.php?f=37&t=18805
as soon as I get the pass for my mozconfig, which I hope is not much longer from now.

[2018-04-05 22:18] miroR commented on #77
Took me a while. I can confirm that:
https://github.com/freight-team/freight/pull/79
creates InRelease file correctly for my Pale Moon newly-compiled package, binary-amd64 (not yet in the repo https://www.CroatiaFidelis.hr/foss/dev1miro/ at the time of this writing, the old is).
However, while it may do so for sources as well otherwise, for sources without '\~repack' and with two '_' in their name

[2018-05-27 11:25] Dancho80 opened #85 "Installation on Ubuntu18.04 fails"
after running:
`sudo apt-get update`
got an error:
`The repository 'http://build.openvpn.net/debian/freight_team bionic Release' does not have a Release file.`
and after running:
`sudo apt-get -y install freight`
error:

[code]

[2018-05-27 11:30] mmoll commented on #85
@mattock I guess the repo needs the new distro added?

[2018-05-27 12:44] Dancho80 commented on #85
so could you add a "bionic" distribution to your repo please?

[2018-05-29 06:17] Dancho80 opened #86 "InRelease.gpg is missing"
When trying to use this commit: https://github.com/freight-team/freight/commit/0a8c99a761e08e1aac8fd702338afe75f6d892a7
InRelease.gpg file is not created so when running:
`sudo apt-get update`
we got an error:
`bionic InRelease: The following signatures couldn't be verified because the public key is not available:`

[2018-05-29 07:15] mmoll commented on #86
AFAICT, that's fine http://archive.ubuntu.com/ubuntu/dists/bionic/ also doesn't have it. InRelease is the Releae file plus the GPG signature in one plaintest file.

[2018-05-29 08:48] mattock commented on #85
@Dancho80 you can use "xenial" for now. But yes, I will add the next release of freight (coming up soon) also to "bionic".

[2018-05-29 09:49] mmoll commented on #86
NTW, reading the message again, I think you miss the repo's key on the client.

[2018-05-30 13:37] Dancho80 commented on #86
Sorry, you were right. According to the:
https://wiki.debian.org/DebianRepository/Format
"...InRelease files are signed in-line while Release files should have an accompanying Release.gpg file."

[2018-05-30 13:37] #86 closed

[2018-06-04 06:04] mattock commented on #85
There's a "bionic" repository now. It includes the latest release (0.3.12) I made a few minutes ago.

[2018-06-04 06:04] #85 closed

[2018-06-20 07:01] Dancho80 opened #89 "Freight migration to another server"
Do you have some kind of wiki/man for migrating a freight repo from one server to another? Just copy some folder(s)?

[2018-06-20 15:30] mmoll commented on #89
Yes, rsync -aH or similar should do the job.

[2018-06-21 05:42] Dancho80 commented on #89
Thanks!
what folders should we move?
VARLIB or
VARCACHE
or both of them?

[2018-06-21 08:18] mmoll commented on #89
VARLIB alone and rebuilding the repos would probably suffice, but if you have the opportunity to just sync both, that's easier anyway.

[2018-06-21 08:19] mmoll commented on #89
@Dancho80 closing this issue, please reopen, if something isn't turning out as intended.

[2018-06-21 08:19] #89 closed

[2019-01-31 19:30] runejuhl opened #93 "Add option to avoid re-computing hashes"
Hi,

We have a repo that's slowly growing in size, and freight is starting to take a long time to run. By far most of the time seems to be spent here:

[code]

Would it be acceptable to place a dot-file along with the repo files with the computed hashes, so that this piece can do a lookup in a file instead of computing the hash?

I've got a fork with a simple (and yet untested) implementation: htt

[2019-03-12 13:17] runejuhl commented on #93
Is anybody listening? :smile:

[2019-03-12 16:43] mmoll commented on #93
@runejuhl Hi, sorry for the delay. :bowing_man:
If you could do testing on your end and best also add BATS tests we would of course merge it. :+1:

[2019-03-12 20:06] runejuhl commented on #93
@mmoll great, I'll find some time to do that and submit a proper PR

[2019-03-26 16:00] retorquere commented on #85
Same problem with cosmic. Can 18.10 be added?

[2019-05-30 20:13] mjsir911 opened #95 "`find: command not found`, findutils missing dependency"
In a minimal `fedora` docker container, I've run this
[code]

`yum install findutils` fixes this issue

[2019-05-31 22:27] mmoll commented on #95
@mjsir911 please file a bug over at the RPM source: https://apps.fedoraproject.org/packages/freight/bugs

[2019-05-31 22:27] #95 closed

[2019-10-10 07:54] Vitexus opened #96 "dist with only one package is skipped in cache ???"
Hi, strange bug occurs on my  http://repo.vitexsoftware.cz/ :

When generating all:

![obrazek](https://user-images.githubusercontent.com/2621130/66548803-43d65680-eb42-11e9-9e42-e437bfb51f7c.png)

**One package from natty and one package from sid was not added**

But when generating only given distro the before missing package is added:

![obrazek](https://user-images.githubusercontent.com/262113

[2020-03-20 09:57] magwas opened #97 "freight missing packages from pool"
I have run into a strange problem. Some packages are in the Packages file, but the corresponding file is missing in the pool.
The strange thing about it that is that there are two sets of packages.
When I run freight-cache, in one run set A gets put to the pool, in the next run set B, then set A again and so on.
I tried to delete the pool directory and dists/bionic*
After that set A contains all t

[2020-07-23 11:15] VeenaSL opened #99 "freight is failing to host ubuntu 18.04 packages."
For the ubuntu 18.04 packages, the Packages.gz which gets generated is not proper. The parent package and dependent package versions are not listed in order, so the installation os parent package fails. For e.g `python` and `python-minimal` versions are not listed correctly. So when apt takes the first version that is listed for both, there'll be a mismatch.

[2020-08-31 22:26] #40 closed

[2020-09-14 09:47] yegorich opened #101 "Test suite: problems with gpg keys"
What are the exact requirements to run a test suite? All the tests (beginning with the `freight-cache builds distro Release/InRelease file`) that require a key fail with the following message:

[code]
I have created such a key myself and it is listed via `gpg --list-keys`. Nevertheless, it will be ignored during the test.

[2020-09-16 08:32] yegorich commented on #101
I got a little bit further. After removing the `tmp` folder, I have realized that I'll be asked for a password for the keys. So now all tests except `apt-get` are working.

The error message is as follows:

[code]

@mmoll how are those tests supposed to run unattended as one has to type the password in? Do the CI tests still run on each PR? Because my PR (#100) didn't trigger any?

[2020-09-23 18:30] DClabaut commented on #97
I can confirm I have the same issue.

How to reproduce:
- Spawn a Freight repo (I can provide a Dockerfile if anyone wants to test it quickly)
- Upload and add one or more packages, then refresh the cache
[code]
- So far so good
- Upload and add other packages, then refresh the cache again (short version):
[code]
- ERROR: cppo is no longer available from the repo, only metacity
- Update the cache

[2021-03-03 17:12] survient opened #103 "Request for a new release 03-2021"
Could we either get a new release tagged or a rough roadmap of the next release?

[2021-03-20 15:18] gaellalire opened #104 "CentOS 8 EPEL"
Could you publish it to CentOS 8 EPEL repository ?

[2021-03-30 06:13] mattock commented on #104
Could, probably. But _believe_ nobody in this project knows how to do it. I would be open to somebody taking over that responsibility.

[2021-06-16 14:01] yegorich opened #105 "Convert Travis script to GitHub Actions"
As Travis-CI is no longer available, the tests have to be ported to GitHub Actions.

[2021-06-16 17:07] yegorich opened #107 "Add support for source packages in git format"
So far only tarball packages are accepted.

[2021-06-18 10:08] yegorich commented on #101
@mmoll so far, I could fix all test issues so that all tests pass locally. See #109 and #110. Could you please take a look at them? I need these PRs in order to work on GitHub Actions transition.

The way to go is to create a key inside the GitHub repo settings (see this [answer](https://stackoverflow.com/questions/61096521/how-to-use-gpg-key-in-github-actions)). My biggest concern for now is how

[2021-06-23 09:07] mattock opened #111 "Getting an active maintainer for the project"
@freight-team/developers I see that there are lots of PRs open and I don't see much activity in getting them merged.

I currently maintain only one freight-based apt repository which works for my use-case. So I don't want to commit myself to managing this project.

What I would propose is adding @yegorich to the team - he's the most active contributor right now.

What do you think?

[2021-07-04 20:21] yegorich commented on #111
Let's move the project forward.

[2021-07-09 09:17] mattock commented on #111
@yegorich you should have received an invite with write access. I can bump that up to admin access if needed.

[2021-07-09 09:17] #111 closed

[2021-07-09 13:43] yegorich commented on #111
@mattock thanks for giving the write access. I have merged the test related PRs. The next would be to get GitHub actions running. Then we can take a look at the other open PRs.

[2021-07-10 05:26] yegorich commented on #101
Solved via #109  and #110.

[2021-07-10 05:26] #101 closed

[2021-07-12 13:05] igagis opened #112 "no debian buster repo for installing freight from Debian archive"
In the `README` there is a "Install from Debian archive" section:
https://github.com/freight-team/freight#from-a-debian-archive

but the debian repo does not contain `buster` distro:
http://build.openvpn.net/debian/freight_team/dists/

Though the `stretch` is there.

Need to add packages for `buster` distro.

[2021-07-12 23:13] igagis opened #113 "why packages from cache are not symlinked to packages from lib?"
Currently, packages are added to the `libdir`. After `freight-cache` the `cachedir/pool` is populated with the packages from `libdir` by copying the packages there (or are those hard links?). In case the packages are copied, isn't it better to make package symlinks from `cachedir/pool` to `libdir`?

[2021-07-13 13:43] mattock commented on #111
No problem @yegorich! Good to see somebody maintaining the project actively. My role has mainly been maintaining the apt repo for freight itself.

[2021-07-13 14:03] yegorich commented on #111
Now I do need the admin privileges to be able to add secrets to the repo.

Btw there is still a demand for maintaining the apt repo, i.e. adding buster and so on.

[2021-07-13 14:18] mattock commented on #111
You have write access now. I will add the buster repo.

[2021-07-13 14:21] mattock commented on #112
I added the "buster" repo. In practice the package is exactly the same for every distro.

[2021-07-13 14:21] #112 closed

[2021-07-14 15:32] yegorich commented on #105
#106 and #114 enable the usage of GitHub Actions. The only problem is with the visibility of the repository secrets and security concerns in general (see this [post](https://securitylab.github.com/research/github-actions-preventing-pwn-requests/)).

I'd suggest that we add two keys (`*.gpg` files) to the `test/fixtures` together with a passphrase file. This way we will only need `pull_request` eve

[2021-07-15 09:01] yegorich commented on #105
@mattock I have reworked #115

[2021-07-16 11:51] yegorich commented on #105
I have added `shellcheck` test. `shfmt` needs Go so I have to look at it closer. For now I close this issue as our CI is now working as a GH Actions Workflow.

[2021-07-16 11:51] #105 closed

[2021-07-26 10:35] #93 closed

[2021-09-28 18:48] minecraftchest1 opened #119 "tee: No such file or directory"
When running `freight cache`, I get the following error:
`tee: /var/cache/freight/dists/squeeze-20210928183214582427228/main/binary-arm64/Packages: No such file or directory`. I verified that the file in question does indeed exist. If it makes a difference, I am running it as a standred user, but made sure that freight was able to write to its directories.

Edit: I found that it is creating the di

[2021-09-29 05:33] yegorich commented on #119
@minecraftchest1

- What freight version are you using?
- Was there any earlier version that was working?
- What is your Linux distribution, you run freight on?

[2021-09-29 06:14] yegorich commented on #119
Could you also share your `freight.conf`? Or at least your `ARCHS` value?

[2021-09-29 12:25] minecraftchest1 commented on #119
I installed freight from master yesterday. This is my first time using freight. I am running Ubuntu mate 21.04 64 bit on Raspberry Pi 4.

I only have my gpg key email listed in the config file.

[2021-09-29 12:31] yegorich commented on #119
Then you also need to specify `ARCHS=armhf` or whatever arch you are using.

[2021-09-29 12:59] minecraftchest1 commented on #119
I will do.

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: Yegor Yefremov ***@***.***>
Date: 9/29/21 7:31 AM (GMT-06:00)
To: freight-team/freight ***@***.***>
Cc: Minecraftchest1 ***@***.***>, Mention ***@***.***>
Subject: Re: [freight-team/freight] tee: No such file or directory (#119)

Then you also need to specify ARCHS=armhf or whatever arch you are using.

—
You

[2021-10-04 17:10] #107 closed

[2021-10-05 20:11] yegorich commented on #119
@minecraftchest1 can we close the issue?

[2021-10-05 20:17] yegorich commented on #24
Fixed via #100

[2021-10-05 20:26] #119 closed

[2022-04-21 10:23] ppoilbarbe opened #123 "hash sums always recalculated"
Hash sums (MD5, SHA1, SHA256...) are now always computed even if the file ".deb-control" exists with the sums already calculated.
I don't know when it begun to do this but in the past it was not redone if already present.
We have a channel with very big packages (>1GB) and very rarely modified but all sums are constantly calculated each time we add a new little package, which is very time consumin

[2022-04-21 12:35] yegorich commented on #123
@runejul could you look at this?

[2022-04-25 15:43] ppoilbarbe commented on #123
For information: sums always calculated are done from files in .refs directory.
If I run clear-cache, then it rebuilds the .deb-control files, calculating the sums, then if calculates them again from files in .refs.

[2022-04-25 16:13] ppoilbarbe opened #125 "Maybe issue with Ubuntu 22.04 signed Release "provides only weak security information""
I am making an Ansible set of roles for migrating all our HPC and Desktop computers from Ubuntu Xenial (16.04) to Ubuntu Jammy (22.04).
I built the roles with the version 21.10 as a basis for tests until the 22.04 was released. It was working well on my test PCs.
Now, 22.04 is released and I tried to redo the same in order to check that there is no regression.
We have a repository built with Freig

[2022-04-25 16:41] ppoilbarbe commented on #113
Normally, it is hard links, so no space is wasted.
Type "ls -l" the number of links should be 3 of more. If the file were just copied, the number of links (second column in "ls -l") would have been 1.

[2022-04-25 19:19] igagis commented on #113
Ok

[2022-04-25 19:19] #113 closed

[2022-04-26 11:28] ppoilbarbe commented on #125
Oops... My fault.... The repository for 22.04 is new and I forgot to put a dummy package to not have an empty repository. Because it (freight or apt, I don't know) does not like.

[2022-04-26 11:28] #125 closed

[2022-05-04 03:32] runejuhl commented on #123
@yegorich sorry, don't have time to look into this at the moment.

FYI my previous patch to avoid repeated hashing was to avoid a similar scenario, namely that freight would hash all existing packages whenever we added new packages, making freight take an increasingly long time to run.

[2022-08-11 16:20] ppoilbarbe commented on #123
Is there a possibility to correct it ?
I dug into the code, but it's a bit out of my skills in bash.